/build/
/dist/
swap/
save/
arch/
nbproject/configurations.xml
nbproject/Makefile-Debug.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-Release.mk
nbproject/Makefile-variables.mk
nbproject/Package-Debug.bash
nbproject/Package-Release.bash
nbproject/private/c_standard_headers_indexer.c
nbproject/private/configurations.xml
nbproject/private/cpp_standard_headers_indexer.cpp
nbproject/private/launcher.properties
nbproject/private/Makefile-variables.mk
nbproject/private/private.xml
nbproject/project.xml
.dep.inc
Makefile
